{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
<h2>Registro</h2>
<form method="POST" action="">
    {% csrf_token %}
   <div class="card mx-auto" style="width: 30rem;">

    <div class="card-body">

<h5>Complete el formulario </h5>

{{ form | crispy}}
 <a  class="card-link" href="{% url 'home' %}">Inicio</a>
 <a  class="card-link" href="{% url 'login' %}">Iniciar sesion</a>

 <button  class="btn btn-sm btn-primary float-end" type="submit">Registarse</button>
    </div>

   </div>
</form>

</div>


{% endblock  %}