{% extends 'base.html' %}
{% block content %}



    <div class="container my-5 text-center">

<h1>Bienvenido A la Academia USAC</h1>

<br>
<br>
<h2>La academia usac es uno de los mejores sitios para poder apredende cursos de su interes, cuenta con mas de 10 años de experiencia en la enseñansa</h2>
<h2>estos cursos ayudan al inscrito a mejorar en el mundo laboral</h2>
<h2>En la seccion de precio en contrara los costos de casa curso , accesibles para la comunidad estudiantil</h2>
<img width="256" height="256" src="https://img.icons8.com/cute-clipart/256/twitch.png" alt="twitch"/><img width="256" height="256" src="https://img.icons8.com/dusk/256/twitch--v2.png" alt="twitch--v2"/><img width="96" height="96" src="https://img.icons8.com/doodle/96/online-community.png" alt="online-community"/>
    </div>

    {% include 'buttons.html' %}


     




{% endblock %}